ul {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.item {
  width: 120px;
  justify-content: center;
}

p {
  color: rgb(0, 15, 0);
  text-align: center;
}

.p {
  font-weight: 500;
}

.p :hover,
:focus {
  color: #4fa94d;
}
